*{
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(199, 255, 237);
}

h1 {
    font-size: 250%;
    color: rgb(218, 65, 103);
    font-family: 'Fredoka One', cursive;
    border-style: solid;
    border-color: rgb(8, 61, 119);
    border-radius: 5px;
    width: 190px;
    padding: 5px;
    background-color: rgb(8, 61, 119); 
    text-align: center;
    float: left;
}

input {
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border-color: rgb(8, 61, 119);
    font-size: large;
    font-weight: bold;
    color: rgb(218, 65, 103);
}

.button {
    height: 35px;
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: rgb(218, 65, 103);
    border-radius: 3px;
    border-color: rgb(8, 61, 119);
}

.taskItem {
    color:rgb(8, 61, 119);
    font-weight: bold;
    font-size: 150%;
    padding-left: 5px;
}

.count {
    color: rgb(218, 65, 103);
    font-family: 'Fredoka One', cursive;
    font-size: 250%;
    padding: 5px;
    float: right;
    padding-right: 1000px;
}

.container {
    display: inline-block;
    width: 100%;
}

.check{
    height: 25px;
    width: 25px;
    font-family: 'Varela Round', sans-serif;
    font-size: 2px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(218, 65, 103);
    border-radius: 3px;
    border-color: rgb(8, 61, 119);
    color: rgb(218, 65, 103);
}

.row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.setup {
    display: flex;
    flex-direction: column;
    float: left;
    align-content: space-between;
    justify-content: flex-start;
    align-items: flex-start;
}